<!DOCTYPE html>
<html>
<head>
	<title>Car Colelctions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<a name="top"></a>
	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class="container">	
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-center">
	        <li><a href="#top">Home</a></li>
	        <li><a href="#about-me">About Me</a></li>
	        <li><a href="#gallery">My Collection</a></li>
	        <li><a href="#contact">Contact Us</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</div>
	 </nav>

	<div class="container">
		<div class="jumbotron jumbotron-background">
			<img class="car_icon" src="./images/car_icon.png">
			<h1>Jade's Cars</h1>
			<a href="#about-me" class="btn btn-lg btn-warning">View Collection</a>
		</div>
	</div>

<div class="after-home">
	<div class="about">
		<div class="container">
			<a name="about-me"></a>
			<div class="about-div">
				    <div class="thumbnail about-thumb">
				      <img src="./images/2.jpg" alt="...">
				      <div class="caption">
				        <h1 class="white">About Me</h1>
				        <p class="white">I am Jade Thompson, 2nd year, Electrical Engineering student studying in Delhi Technological University. I have great interest in cars and so whnever I get the chance I go collecting cars. I have a growing collection. Every time I look at a new car, I try to get it.</p>
				      </div>
				    </div>
			</div>
		</div>
	</div>

	<div class="gallery">
		<a name="gallery"></a>
		<div class="container">
			<div class="jumbotron jumbotron-gallery">
				<h1><i class="fa fa-car" aria-hidden="true"></i> My Collection</h1>
			</div>
			
		<div class="row">
			<div class="col-sm-6 col-md-4 thumbnail hover">
				<img class="gallery-img" src="./images/gal1.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
			<div class="col-xs-6 col-md-4 thumbnail hover">
				<img class="gallery-img" src="./images/gal2.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
			<div class="col-xs-6 col-md-4 thumbnail hover">
				<img class="gallery-img" src="./images/gal3.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
			<div class="col-sm-6 col-md-4 thumbnail hover">
				<img class="gallery-img" src="./images/gal4.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
			<div class="col-xs-6 col-md-4 thumbnail hover">
				<img class="gallery-img" src="./images/gal5.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
			<div class="col-xs-6 col-md-4 thumbnail hover">
				<img class="gallery-img" src="./images/gal6.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
			<div class="col-sm-6 col-md-4 thumbnail hover noview">
				<img class="gallery-img" src="./images/gal7.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
			<div class="col-xs-6 col-md-4 thumbnail hover noview">
				<img class="gallery-img" src="./images/gal8.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
			<div class="col-xs-6 col-md-4 thumbnail hover noview">
				<img class="gallery-img" src="./images/gal9.jpg">
				<!-- <p class="caption">Mercedez</p> -->
			</div>
		</div>
		<a class="btn btn-md btn-success gallery-btn more-btn">Click Here to View More</a>
		<a class="btn btn-md btn-success gallery-btn less-btn">Click Here to View Less</a>
		</div>
	</div>
<!-- 
	<div class="pre-contact">
		
	</div> -->

	<div class="contact">
		<a name="contact"></a>
		<div class="container">
			<h1><img class="car_icon" src="./images/car_icon2.png"> Contact Us</h1>
			<div>
				<ul class="contact-list">
					<li>Jade Phillips</li>
					<li>Phone No. - +91 8754669855</li>
					<li>Address - 221B Bakerstreet, London</li>
				</ul>
			</div>
			<div class="contact-message">
				<h2>Your Message</h2>
				<form  class="form-group">
				<div>
					<input class="form-control" type="text" name="name" placeholder="Name">
					<input class="form-control" type="text" name="phone" placeholder="Phone No.">
				</div>
				<div>
					<input class="form-control" type="text" name="email" placeholder="Email">
				</div>
				<div>
					<textarea class="form-control textarea" name="message" placeholder="Your Message"></textarea>
				</div>
				<div class="message-btn">
					<button class="btn btn-lg btn-primary">Send</button>
				</div>
				</form>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<p class="fh5co-social-icons">
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
					</p>
					<p>Copyright 2017 <a href="#">Jade's Cars</a>. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>

</div>

	

<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
</body>
</html>